        <div class="hero-unit" >
            <div id="divtitulo">
                <h1>Vamos tentar a sorte?</h1>
                <p>
                    Você pode gerar até 10 jogos por vez, vamos lá, entre com a quantidade de jogos que deseja!
                </p>
            </div>
                     <form id="meuform" class="form-inline" action="sorte" method="post" accept-charset="utf-8" >
                     <input type="text" maxlength="2" name="number"/>

                <p>

                     <button type="submit" class="btn btn-large btn-success" name="button" >Enviar</button>
                </p>
                     </form>

        </div>
