input[type="text"] {
    width: 50px;
    height: 40px;
    margin: 0px;
    padding: 5px;
    font-size: 2em;
}
#divtitulo{
    text-align: center;
}

label.error {
  border: 1px solid red;
  color: red;
  font-weight: bold;
  padding: 3px;
  background-color: #99CCFF;
  margin: 6px 0;
  width: 240px;
  text-align: center;
}
